* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3d3434;
}

#canvas{
  width: 550px;
  height: 550px;
  border: 5px solid #9e8686;
  background-color: #6a6a6a;

}
